.app {
    width: 80%;
    margin: 50px auto;
}

.list-group {
    width: 30%;
    float: left;
}

.btn-default {
    margin-top: 40px;
    display: block;
    text-align: center;
}

.jumbotron {
    float: left;
    margin-left: 50px;
    width: 30%;
    border: 1px solid grey;
    text-align: center;
    vertical-align: top;
    color: #555;
}