/*.app {
    width: 60%;
    margin: 50px auto;
    overflow: hidden;
}

.side-bar {
    width: 30%;
    float: left;
}

.jumbotron {
    float: right;
    width: 50%;
    border: 1px solid grey;
    text-align: center;
    color: #555;
}*/

.row {
    width: 80%;
    margin: 50px auto;
}